.Card-deck-analyze-page{
    margin-top: 50px !important;
    margin-left: 20% !important;
    margin-right: 20% !important;
  }
  
  @media (min-width: 576px){
    .Card-deck-analyze-page {
      display: block !important;
      flex-flow: unset !important;
    }
  }
  
  @media (min-width: 1000px){
    .Card-deck-analyze-page {
      display: flex !important;
      flex-flow: row wrap !important;
      }
    }

.Replay-form{
    margin-top: 20px;
    margin-bottom: 35px;
    display: inline-block;
    width: 80%;
    height: 38px !important;
    border: none;
}

.Replay-form > input{
    border: 1px solid black;
    border-radius: 2px !important;
    height: 37px !important;
}

.Card-analyze-page{
    border: 1px solid rgb(170, 170, 170) !important;
    border-radius: 4px;
    margin-bottom: 30px !important;
  }

.card-footer{
    border: none !important;
    background-color: white !important;
    height: 68px !important;
}

.Browse-file-button{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 70%;
}

label{
    border: 1px solid black !important;
    border-radius: 2px !important;
    height: 40px !important;
}

.File-upload{
    margin-top: 31px;
    margin-bottom: 23px;
}

input[type="file"] {
    display: none;
}
.File-upload-label {
    padding: 6px 12px;
    cursor: pointer;
    color: rgb(100, 100, 100);
    font-weight: 100;
    width: 80% !important;
    height: 37px !important;
    font-family: sans-serif;
    text-align: left;
    overflow: hidden;
}
