.About-section{
    min-height: 950px;
}

.About-title{
    margin-bottom: 6%;
    margin-top: 1%;
}

.Accordion-button{
    color: rgb(20,20,20) !important;
    text-decoration: none !important;
    font-size: 26px;
    padding: 10px;
}

.Ballchasing-link{
    text-decoration: none !important;
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    font-weight: 600;
    margin-bottom: 0.1rem;
    color: #007eff;
    cursor: pointer;
    transition: none !important;
}
.Ballchasing-link:hover{
    color: #007eff !important;
}
.Ballchasing-link:focus{
    background-color: transparent !important;
    color: #007eff !important;
}

.Accordion-text{
    line-height: 36px;
    white-space: break-spaces;
}