.Replay-form{
    margin-top: 20px;
    margin-bottom: 30px;
    display: inline-block;
    width: 350px;
    border: 1px solid black;
    border-radius: 2px !important;
}

.Replay-form > input{
    border: none;
}
