.Replay-form{
    margin-top: 20px;
    margin-bottom: 35px;
    display: inline-block;
    width: 70%;
    height: 38px !important;
    border: none;
}

.Replay-form > input{
    border: 1px solid black;
    border-radius: 2px !important;
}

.Browse-file-button{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 70%;
}

label{
    border: 1px solid black !important;
    border-radius: 2px !important;
    height: 40px !important;
}

.File-upload{
    margin-top: 31px;
    margin-bottom: 23px;
}

input[type="file"] {
    display: none;
}
.File-upload-label {
    padding: 6px 12px;
    cursor: pointer;
    color: rgb(100, 100, 100);
    font-weight: 100;
    width: 70% !important;
    height: 38px !important;
    font-family: sans-serif;
    text-align: left;
    overflow: hidden;
}
