.App-page{
  color: rgb(10, 10, 10);
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.title{
  margin-top: 85px;
  font-size: 42px;
  font-weight: bold;
}

.Header-hr{
  border: none;
  height: 1px !important;
  width: 25px;
  background-color:rgb(10, 10, 10);;
  margin-bottom: 3rem !important;
  margin-top: 4rem !important;
}

.Footer-hr{
  border: none;
  height: 1px !important;
  width: 25px;
  background-color:rgb(10, 10, 10);;
  margin-bottom: 5.5rem !important;
  margin-top: 5rem !important;
}

.Card-deck{
  margin-top: 170px !important;
  margin-left: 125px !important;
  margin-right: 125px !important;
  margin-bottom: 170px !important;
}

@media (min-width: 576px){
.Card-deck {
    display: block !important;
    flex-flow: unset !important;
  }
}

@media (min-width: 1000px){
  .Card-deck {
    display: flex !important;
    flex-flow: row wrap !important;
    }
  }

.Card{
  border: none !important;
  margin-bottom: 30px !important;
}

.overview{
  margin: auto;
  padding: 2vh;
  width: 100%;
}

.overview > div{
  font-size: 1.5vw;
  padding: 2vw;
}

.selection{
  margin: auto;
  padding: 1vw;
  width: 10%;
}

.selection > nav{  
  margin: auto;
  border-radius: 1vw;
  border: hidden;
  font-size: 2vw;
  cursor: pointer;
  
}

Button{
  background-color: rgb(10, 10, 10);
}

.selection > nav:hover{  
  background-color: rgb(24, 24, 24);
}

.Menu-button{
   width: 150px !important;
   color: white !important;
   background-color: black !important;
   border: 1px solid black !important;
   transition: 0.3s !important;
   font-weight: 600 !important;
}

.Menu-button:hover{
  background-color: white !important;
  color: black !important;
}

.Home-link-style{
  color: #2D283E;
  text-decoration: none;
}