@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&display=swap');

.App-page{
  color: rgb(20,20,20);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.Header-hr{
  border: none;
  height: 1px !important;
  width: 25px;
  background-color:rgb(20,20,20);
  margin-bottom: 3rem !important;
  margin-top: 4rem !important;
}

.Footer-hr{
  border: none;
  height: 1px !important;
  width: 25px;
  background-color:rgb(20,20,20);;
  margin-bottom: 5.5rem !important;
  margin-top: 5rem !important;
  opacity: 0;
}

