.Positioning-stats-title{
    margin-top: 2%;
  }

.Card-deck-positioning-stats{
    margin-top: 2% !important;
    margin-left: 20% !important;
    margin-right: 20% !important;
}

@media (min-width: 576px){
    .Card-deck-positioning-stats {
      display: block !important;
      flex-flow: unset !important;
    }
}
  
@media (min-width: 1200px){
    .Card-deck-positioning-stats {
      display: flex !important;
      flex-flow: row wrap !important;
    }
}

.Card-positioning-stats{
    border: 1px solid #d1d3d4 !important;
    border-radius: 1rem;
    margin-bottom: 30px !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
}

.Card-positioning-title{
    margin-bottom: 1.75rem !important; 
}